<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forumlär</title>
    <style>
        label {
            display: block;
        }
        textarea {
            display: block;
        }
        form {
            width: 400px;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <form method="post" action="http://localhost:5000/postjson/" >
                <legend>Registrera medlemsuppgifter</legend>
                <label>Betalsätt: 
                    <select name="paymenttype">
                        <option value="-1">Välj betalsätt</option>
                        <option value="1" >Kreditkort</option>
                        <option value="1" >Swish</option>
                        <option value="1" >Cash mannen</option>
                    </select>
                </label>
                <label>
                    Förnamn:
                    <input type="text" name="fname" />
                </label>
                <label>
                    Efternamn:
                    <input type="text" name="ename" />
                </label>
                <label>
                    Adress:
                    <input type="text" name="address" />
                </label>
                <label>
                    Postnummer:
                    <input type="text" name="zipcode" />
                </label>
                <label>
                    Ort:
                    <input type="text" name="city" />
                </label>
                <label>
                    Mobilnummer:
                    <input type="text" name="cellphone" />
                </label>
                <label>
                    E-mail:
                    <input type="email" name="email" />
                </label>
                <label>
                    Erbjudanden via e-post: <input type="checkbox" name="offers" value="offers" />
                </label>
                <p>Epost-format:
                    <label>Html: <input type="radio" name="format" value="html" /></label>
                    <label>Text: <input type="radio" name="format" value="text" /></label>
                </p>
                <label>
                    Dina kommentarer:
                    <textarea cols="20" rows="3" name="comment"></textarea>
                </label>
                <input type="button" class="submit" name="submit" value="Skicka" />
        </form>
    </div>

<script>
    const sendData = async (url = '', data = {}) => {
        const response = await fetch(url, {
            method: 'POST', // *GET, POST, PUT, DELETE, etc.
            mode: 'cors', // no-cors, *cors, same-origin
            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', // include, *same-origin, omit
            headers: {
                'Content-Type': 'application/json'
            },
            redirect: 'follow', // manual, *follow, error
            body: JSON.stringify(data) // body data type must match "Content-Type" header
        });
        return await response.json(); // parses JSON response into native JavaScript objects
    }

    document.querySelector('.submit').addEventListener('click', (e) => {
        const form = document.querySelector('form');
        const postData = Object.values(form).reduce((obj,field) => { obj[field.name] = field.value; return obj }, {});
        console.log(postData);
        sendData('http://localhost:5000/postjson/', postData)
            .then((data) => {
            console.log(data); // JSON data parsed by `response.json()` call
        });
        return false;
    });

</script>    
</body>
</html>